@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Custom Colors */
    --color-primary-50: #E8F0F5;
    --color-primary-100: #D1E1EB;
    --color-primary-200: #A3C3D7;
    --color-primary-300: #75A5C3;
    --color-primary-400: #4787AF;
    --color-primary-500: #1B3C53;
    --color-primary-600: #163042;
    --color-primary-700: #102432;
    --color-primary-800: #0B1821;
    --color-primary-900: #050C11;
    --color-primary: var(--color-primary-500);
    
    --color-secondary-50: #E9F2F7;
    --color-secondary-100: #D3E5EF;
    --color-secondary-200: #A7CBDF;
    --color-secondary-300: #7BB1CF;
    --color-secondary-400: #4F97BF;
    --color-secondary-500: #234C6A;
    --color-secondary-600: #1C3D55;
    --color-secondary-700: #152E40;
    --color-secondary-800: #0E1F2B;
    --color-secondary-900: #070F15;
    --color-secondary: var(--color-secondary-500);
    
    --color-third-50: #EDF4F7;
    --color-third-100: #DBE9EF;
    --color-third-200: #B7D3DF;
    --color-third-300: #93BDCF;
    --color-third-400: #6FA7BF;
    --color-third-500: #456882;
    --color-third-600: #375368;
    --color-third-700: #293E4E;
    --color-third-800: #1B2A34;
    --color-third-900: #0D151A;
    --color-third: var(--color-third-500);
    
    --color-fourth-50: #FAF9F7;
    --color-fourth-100: #F5F3EF;
    --color-fourth-200: #EBE7DF;
    --color-fourth-300: #E1DBCF;
    --color-fourth-400: #D7CFBF;
    --color-fourth-500: #D2C1B6;
    --color-fourth-600: #C5B0A1;
    --color-fourth-700: #B89E8C;
    --color-fourth-800: #AB8D77;
    --color-fourth-900: #9E7B62;
    --color-fourth: var(--color-fourth-500);
}
